.text-color-primary {
  color: #000239;
}
.text-color-secondary {
  color: #64748b;
}
.surface-0 {
  color: #ffffff;
}
.surface-50 {
  color: #f8fafc;
}
.surface-100 {
  color: #f1f5f9;
}
.surface-200 {
  color: #e2e8f0;
}
.surface-300 {
  color: #cbd5e1;
}
.surface-400 {
  color: #94a3b8;
}
.surface-500 {
  color: #64748b;
}
.surface-600 {
  color: #475569;
}
.surface-700 {
  color: #334155;
}
.surface-800 {
  color: #1e293b;
}
.surface-900 {
  color: #0f172a;
}
.surface-950 {
  color: #020617;
}
.surface-1000 {
  color: #f8454f;
}

